
<p>
<a href="https://twitter.com/AkashaCMS" rel="me nofollow" class="twitter-follow-button" data-show-count="false">Follow<br/>@AkashaCMS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

<p><a href="https://www.facebook.com/Nodejs-Web-Development-116624021765933/" rel="me nofollow">Follow Node.js Web Development on Facebook</a></p>
