
<p>AkashaCMS developed by the author of <a href="http://www.amazon.com/gp/product/1782163301/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1782163301&linkCode=as2&tag=thereikipage">Node Web Development</a>
</p>

<a href="http://www.amazon.com/gp/product/1782163301/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=1782163301&linkCode=as2&tag=thereikipage"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1782163301&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=thereikipage" ></a>


<sharethis publisher-id="c828d855-27af-4910-b7a5-2b9b14030895" title-to-share="<%= title %>">
{
  "chiclets": [
    { "className": "st_tumblr_large" },
    { "className": "st_stumbleupon_large" },
    { "className": "st_care2_large" },
    { "className": "st_twitter_large" },
    { "className": "st_facebook_large" },
    { "className": "st_yahoo_large" },
    { "className": "st_blogger_large" },
    { "className": "st_sharethis_large" }
  ]
}
</sharethis>

<reddit-this></reddit-this>
<gplus-simple></gplus-simple>
<twitter-share></twitter-share>
<a href="https://twitter.com/AkashaCMS" rel="me nofollow" class="twitter-follow-button" data-show-count="false">Follow<br/>@AkashaCMS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
