<nav 
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top" 
    role="navigation">
  <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-rights">
        <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/quick-start/index.html">Getting Started</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" 
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Docs <span class="caret"></span></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/akasharender/toc.html">AkashaRender</a>
                <a class="dropdown-item" href="/mahabhuta/toc.html">Mahabhuta</a>
                <a class="dropdown-item" href="/epubtools/toc.html">EPUB Tools</a>
                <a class="dropdown-item" href="/howto/index.html">How To</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/plugins/index.html">Plugins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news/index.html">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about.html">About</a>
        </li>
    </ul>
  </div>
</nav>
