[submodule "modules/mahabhuta"]
	path = modules/mahabhuta
	url = git@github.com:akashacms/mahabhuta.git
[submodule "modules/akashacms-external-links"]
	path = modules/akashacms-external-links
	url = git@github.com:akashacms/akashacms-external-links.git
