---
layout: article.html.ejs
title: AkashaCMS - the powerful static file CMS to build your dream website NEW SITE
rightsidebar:
publicationDate: March 22, 2017
---
<p align="center"><em>Akasha means the basis and essence of all things in the material world; the first material element created from the astral world. </em></p>

<p align="center"><em>AkashaCMS is a suite of Node.js based tools with which you can convert ideas into websites while maintaining separation between content, layout and design.</em></p>

<p>This section of akashacms.com concerns the newly redesigned version of AkashaCMS.  The main portion of akashacms.com still documents the old AkashaCMS because the new documentation, that you're reading here, is a work in progress.  When browsing the repositories, the <tt>akasharender</tt> branch contains the new version.</p>

<table> <!-- style="border-spacing: 5px;" -->
<tr>
<td style="padding: 10px;" width="50%">
<p>With AkashaCMS, one writes web content in HTML (or Markdown) but with none of the styling and framing boilerplate that surrounds the content.  Styles, page layouts, and navigational elements are kept in separate files, and are brought together in a highly flexible manner to produce HTML files.  Modern frameworks like Boilerplate or Bootstrap can be easily used to provide a strong foundation.  Several templating engines are available to facilitate bringing in data from external repositories. </p>

<p>Content is rendered using the <a href="https://github.com/akashacms/akasharender"><tt>akasharender</tt></a> tool.  It supports rendering of Markdown, and a couple templating engines, and jQuery-like DOM manipulation using <a href="https://github.com/akashacms/mahabhuta">Mahabhuta</a>.  AkashaCMS plugins can be utilized to extend the behavior.  The result is a directory structure of HTML, CSS, JavaScript, images, and other web assets.  By using <a href="https://github.com/epubtools/epubtools"><tt>epubtool</tt></a> the rendered content can be packaged as an EPUB3 file, that can even be uploaded to eBook marketplaces.</p>

<p>The goal for AkashaCMS is to provide most of the flexibility of a full scale CMS, incorporate modern JavaScript/CSS UI frameworks, while producing static HTML files, and skipping the administrative overhead of running a full CMS.</p>

<p>Technology: Node.js - Markdown - EJS templates - LESS - jQuery - Bootstrap - Server-side jQuery - OEmbed</p>

<p>The <a href="https://github.com/akashacms/akashacms-example">AkashaCMS Example github project</a> contains a small working example of an AkashaCMS site.  The rendered version of that example is at <a href="http://example.akashacms.com">example.akashacms.com</a>.  The <a href="https://github.com/akashacms/akashacms-website">source code for this website</a> serves as a larger example of AkashaCMS use. </p>

</td>
<td style="padding: 10px;" width="50%">
<p>Getting started is pretty easy, assuming you already have Node.js installed:</p>

<pre>
$ git clone https://github.com/akashacms/akashacms-example.git -b akasharender
$ cd akashacms-example
$ npm install
$ .... start hacking
$ npm run build
$ npm run preview
</pre>

<p>This pulls down site full of examples for you from the <a href="https://github.com/akashacms/akashacms-example">akashacms-example</a> project.  For a blank starter site look at <a href="https://github.com/akashacms/akashacms-skeleton">akashacms-skeleton</a>.  <strong>akashacms-skeleton HAS NOT YET BEEN CONVERTED</strong> </p>

<p>The skeleton starter site can also be initialized this way: </p>

<pre>
$ git clone https://github.com/akashacms/akashacms-skeleton.git -b akasharender
$ cd akashacms-skeleton
$ npm install
$ .... start hacking
$ npm run build
$ npm run preview
</pre>

<p>To build the static website:</p>

<pre>
$ npm run build
</pre>

<p>To view the local copy of the website in your browser (http://localhost:3000):</p>

<pre>
$ npm run preview
</pre>
</td>
</tr>
</table>
