---
layout: header-footer.html.ejs
---
<div class="row">
<article class="col-md-10">
  <breadcrumb-trail/>
  <ak-insert-body-content/>
  <%- bookChildTree(locals) %>
</article>
<section id="right" class="col-md-2">
  <!-- %- tagCloud() % -->
</section>
</div>
