---
layout: header-footer.html.ejs
---
<div class="row">
<article class="col-md-10">
  <p><%- breadcrumbsBootstrapSync(locals) %></p>
  <% if (typeof content !== "undefined") { %><%- content %><% } %>
  <%- bookChildTree(locals) %>
</article>
<section id="right" class="col-md-2">
  <%- tagCloud() %>
</section>
</div>
